<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <div>
        <form method="get" action="/celebrities/search">
          <input type="search" name="celebSearchTerm" placeholder="Search here...">
          <button type="submit" class="btn btn-default search-btn">SEARCH</button>

        </form>
    </div>

    </div>


    {{{body}}}
  </body>
</html>
